<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content="Codeply">
    <title>LetsMeet!</title>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="css/animate.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	<link href="css/styles_perfil.css" rel="stylesheet" />
	<link rel="stylesheet" href= "css/calendar/styles_horario.css">
</head>
<body ng-app="rtfmApp">
	<div ng-controller="calendarPageController">   
		<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#section1">Leets Meet!</a>
				</div>
				<div class="navbar-collapse collapse" id="navbar-collapsible">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="horario.html">Calendario</a></li>
						<li><a href="index.html#/main">Usuario</a></li>
						<li>&nbsp;</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container masterContainer">
		  <div class="row">
			<div class="col-md-12 col-xs-10">
			  <div class="well panel panel-default">
				<div class="panel-body">
				  <div class="rowHorario row">
					<div class="v-center horario bounceInDown animated .col-xs-12 .col-sm-6 .col-lg-8">
						<h1 class="text-center"><i class="fa fa-calendar"></i> {{user.givenName}}</h1>  
						<div id='calendar' class = "calendar"></div>         
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
		 
		  	refUsuario.once("value", function(snapshot){
		snapshot.forEach(function(childSnapshot){
			var childData = childSnapshot.val();
			if(childData.givenName == buscaNombre){
				console.log("Eureka putos!");
			}
		});
	});
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>

<script src="app.js"></script>
<script src="js/scripts.js"></script>
<script src="pages/login/login.js"></script>
<script src="pages/main/main.js"></script>
<script src="pages/calendar/calendar.js"></script>
<script src="services/userService.js"></script>
<script src="services/calendarService.js"></script>

<!-- Calendar -->	

<script src ='js/calendar/es.js'></script>
<script src='js/calendar/fullcalendar.js'></script>
<script src='js/calendar/moment.min.js'></script>
<script src='js/calendar/fullcalendar.min.js'></script>
<script src='js/calendar/gcal.js'></script>
    
</body>
</html>