<!DOCTYPE html>
<html ng-app="todomvc" data-framework="firebase">
  <head>
    <meta charset="utf-8">
    <title>LetsMeet!</title>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
	<link href="css/animate.css" rel="stylesheet" />
	<link href="css/style_todo.css" rel="stylesheet" />
	
	
	
	<link rel="stylesheet" href="css/toDo/base.css">
	<link rel="stylesheet" href="css/toDo/index.css">
	<style>[ng-cloak] { display: none; }</style>

  </head>
  <body>
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#section1">Leets Meet!</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="horario.html">Calendario</a></li>
					<li><a href="index.html#/main">Usuario</a></li>
					<li>&nbsp;</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
	  <div class="row">
		<div class="divEquis col-md-12 col-xs-10">
		  <div class="divEquis2 well panel panel-default">
			<div class="panel-body">

				<section class="sectionToDo" id="todoapp" ng-controller="TodoCtrl">
				<header class = "headerToDo" id="header">
					
					<h1 class = "tareas"><i class="fa fa-pencil"></i> Tareas</h1> 
					<form id="todo-form" ng-submit="addTodo()" >
						<input id="new-todo" placeholder="¿Qué hay que hacer?" ng-model="newTodo" autofocus>
					</form>
				</header>
				<section class ="mainToDo" id="main" ng-show="totalCount" ng-cloak>
					<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
								<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
								<button class="destroy" ng-click="removeTodo(todo)"></button>
							</div>
							<form ng-submit="doneEditing(todo)">
								<input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer class = "footerToDo" id="footer" ng-show="totalCount" ng-cloak>
					<br/><br/><span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'Tarea', other: 'Tareas' }"></ng-pluralize>
					</span>
					<ul id="filters">
						<li>
							<a ng-class="{selected: location.path() == '/'} " href="#/">Todas</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '/active'}" href="#/active">Activas</a>
						</li>
						<li>
							<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completas</a>
						</li>
					</ul>

					<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount"><i class="fa fa-trash"> Borrar Completas</i></button>
				</footer>

			</section>
		

			  <!--/row-->
			</div>
			<!--/panel-body-->
		  </div>
		  <!--/panel-->
		</div>
		<!--/col--> 
	  </div>
	  <!--/row--> 
	</div>
	<!--/container-->

<!--scripts-->

<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
<script src="js/toDo/app.js"></script>
<script src="js/toDo/todoCtrl.js"></script>
<script src="js/toDo/todoFocus.js"></script>
<script src="js/toDo/todoBlur.js"></script>
<script src="js/toDo/todoEscape.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>

</html>