
.loginBox{
	display: inline-block;
	vertical-align: middle;
	float: none;
	top: 20%;
	height: 50%;
	position: absolute;
    border-radius: 15px;
	background-color: #03A9F4;
}

.loginForm{
	position: absolute;
    top: 10%;
}

.loginButton{
	width: 100%;
}

.navBar{
	background-color: #03A9F4;
	position: fixed;
	height: 100%;
}



