
  <div ng-controller="TodoCtrl">
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="">Leets Meet!</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="#/calendar">Calendario</a></li>
					<li><a href="#/main">Usuario</a></li>
					<li>&nbsp;</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
						
						<!-- SEARCH BOX -->
					
						<li class = "bajarSearch">
			            <form action="" class="">
			                <div class="form-group has-feedback">
			            		
			            		<input type="text" ng-model="buscar" class="form-control" name="search" id="search" placeholder="Search">
			              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
			            	</div>
			            </form>
						</li>
						<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- BUSQUEDA DE PERSONAS -->
		<ng-click>	
			<span ng-if="buscar">
					<div class="fondo">
	      				<p ng-repeat="buscarUsr in usuarios | filter:buscar">
	      					<br>
	      					<br>
	        			<a style = "color: black" href="{{ buscarUsr }}"> {{ buscarUsr.fullName }} </a>
	      				</p>
	      			</div>
	    		</span>
		</>
			</div>
		</div>
		
	</nav>
	<section>
		<div class="fondoToDo container">
		  <div class="row">
			<div class=" col-md-12 col-xs-10">
			  <div class=" well panel panel-default">
				<div class="panel-body ">
	
					<section class="sectionToDo bounceInDown animated" id="todoapp" ng-controller="TodoCtrl">
					<header class = "headerToDo" id="header">
						
						<h1 class = "tareas"><i class="fa fa-pencil"></i> Tareas</h1> 
						<form id="todo-form" ng-submit="addTodo()" >
							<input id="new-todo" placeholder="¿Qué hay que hacer?" ng-model="newTodo" autofocus>
						</form>
					</header>
					<section class ="mainToDo" id="main" ng-show="totalCount" ng-cloak>
						<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
						<label for="toggle-all">Mark all as complete</label>
						<ul id="todo-list">
							<li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
								<div class="view">
									<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
									<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
									<button class="destroy" ng-click="removeTodo(todo)"></button>
								</div>
								<form ng-submit="doneEditing(todo)">
									<input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
								</form>
							</li>
						</ul>
					</section>
					<footer class = "footerToDo" id="footer" ng-show="totalCount" ng-cloak>
						<br/><br/><span id="todo-count"><strong>{{remainingCount}}</strong>
							<ng-pluralize count="remainingCount" when="{ one: 'Tarea', other: 'Tareas' }"></ng-pluralize>
						</span>
						<ul id="filters">
							<li>
								<a ng-class="{selected: location.path() == '/'} " href="#/">Todas</a>
							</li>
							<li>
								<a ng-class="{selected: location.path() == '/active'}" href="#/active">Activas</a>
							</li>
							<li>
								<a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completas</a>
							</li>
						</ul>
	
						<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount"><i class="fa fa-trash"> Borrar Completas</i></button>
					</footer>
	
				</section>
			
	
				  <!--/row-->
				</div>
				<!--/panel-body-->
			  </div>
			  <!--/panel-->
			</div>
			<!--/col--> 
		  </div>
		  <!--/row--> 
		</div>
	</section>
	<!--/container-->
</div>