<div ng-controller="mainPageController">
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#section1">Leets Meet!</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="horario.html">Calendario</a></li>
					<li><a href="#/main">Usuario</a></li>
					<li>&nbsp;</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="container">
	  
	  <div class="row ">
	  	
		<div class="col-md-10 col-md-offset-1 fondo">
				<div class="v-center bounceInDown animated .col-xs-12 .col-sm-6 .col-lg-8">
				  <h1 id="name"><i class="fa fa-user fa-lg"></i> {{user.fullName}}</h1>
				</div>
			  <div class="row">
				
				
				<div class="col-xs-12 col-sm-4 text-center">
				  <img ng-src="{{user.photo}}" alt="" class="center-block img-circle img-thumbnail img-responsive">
				</div>
				<!--/col--> 
			
				
				<div class="col-xs-12 col-sm-4 info">
				  <p><span class="fa fa-pencil"></span><strong> Acerca: </strong> ITESM </p>
				  <p><span class="fa fa-envelope"></span><strong> Correo: </strong> a01271588@itesm.mx </p>
				  <p><span class="fa fa-phone"></span><strong> Contacto: </strong> 7711815089 </p>
				  <p><span class="fa fa-tags"></span><strong> Habilidades: </strong>
					<span class="label label-info tags">html5</span> 
				  </p>
				</div>
				<!--/col-->          
				<div class="clearfix"></div>
				<div class="col-xs-12 col-sm-4">
				  <h2><strong> 100 </strong></h2>
				  <p><small>Amigos</small></p>
				  <a type="button" class="botonAgregar btn btn-success btn-block"><span class="fa fa-user-plus"></span> Agregar </a>
				</div>
				<!--/col-->
				<div class="col-xs-12 col-sm-4">
				  <h2><strong>3</strong></h2>
				  <p><small>Tareas</small></p>
				  <a href="tareas_perfil.html" type="button" class="btn btn-primary btn-block botonTareas"><span class="fa fa-twitter"></span> Tareas</a>
				</div>
				<div class="col-xs-12 col-sm-4">
				  <h2><strong>3</strong></h2>
				  <p><small>Grupos</small></p>
				  <button type="button" class="btn btn-primary btn-block botonOpciones"><span class="fa fa-gear"></span> Opciones </button>
				</div>
				<!--/col-->
			  </div>
			  <!--/row-->
		</div>
		<!--/col--> 
	  </div>
	  <!--/row--> 
	</section>
	<!--/container-->
	
</div>