<div ng-controller="groupPageController">
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#section1">Leets Meet!</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="horario.html">Calendario</a></li>
					<li><a href="#/main">Usuario</a></li>
					<li>&nbsp;</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="container">
	  
	</section>
	<!--/container-->
	
</div>