@import url(https://fonts.googleapis.com/css?family=Questrial);

html,body {
	height:100%;
/*    background:center no-repeat fixed url('../img/bg.jpg'); 
    background: linear-gradient(rgba(76, 175, 80, 0.3), rgba(76, 175, 80, 0.3)), url('img/bg.jpg');*/

  
    background-size: cover;
    color:#444;
    font-family: 'Questrial', sans-serif;
}

.navbar-trans {
	background-color:#0097A7;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#FFFFFF;
    
}

.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#727272;
	color:#333;
}

.navbar-trans li>a:hover {
	background-color:#727272;
	color:#fff;
	opacity:0.7;
}

.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

[ng-cloak] { display: none; }

.fondoToDo {
    background-color: rgba(182, 182, 182, 0.8);
	border-radius: 20px;
}
.divEquis {
    background-color: rgba(182, 182, 182, 0.8);
}