<!DOCTYPE html>
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="calendar_form.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl" class>
  <form>
    Nombre del calendario: <br>
    <input type="text" ng-model="calNom" placeholder="Semestre 1"><br>
    ID del calendario: <br>
    <input type="text" ng-model="calID" placeholder="xxxxx@group.calendar.google.com"><br>
    <input type="submit" value="Guardar" />
    
  </form>
</div>


</body>
</html>
