.fondoLi {
    background-color: rgba(182, 182, 182, 0.8);
    
    font-size: 40px;
}

.fondoLi a {
    color: #212121;
}

.fondoLi:Hover {
    background-color: transparent;
    color: #212121;
    
}