.masterFondo {
    background-color: rgba(182, 182, 182, 0.8);
    padding: 2%;
    
    border-radius: 20px;
}

.subFondo {
    background-color: transparent;
    border-color: transparent;
}

.subFondo h2 {
    text-align: center;
    font-size: 40px;
    
}

.ayuda{
    display: inline;
    position: relative;
   padding-left: 10%;
}
.ayuda:hover:after{
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    width: 220px;
    background: white;
    
    border-radius: 5px;
    bottom: 23px;
    color: black;
    
}

.icon {
    color: white ;
}

body{
				padding: 0;
				margin: 0;
			}
			#canvas-holder{
				width:30%;
			}
			
			
	