@import url(https://fonts.googleapis.com/css?family=Questrial);

html,body {
	height:100%;
/*    background:center no-repeat fixed url('../img/bg.jpg'); 
    background: linear-gradient(rgba(76, 175, 80, 0.3), rgba(76, 175, 80, 0.3)), url('img/bg.jpg');*/
    background-image: linear-gradient(to bottom, rgba(33,33,33, 0.5) 0%, rgba(33,33,33, 0.6) 100%), url('../img/bg.jpg');
  
    background-size: cover;
    color:#444;
    font-family: 'Questrial', sans-serif;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

a {
    color:#999;
}

a:hover {
    color: #727272;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-blue {
    background-color:#0097A7;
    border-color:#0097A7;
    color:#fff;
}

.btn-blue:hover {
    background-color: #B2EBF2;
    border-color:#B2EBF2;
    color: #727272;
}

.text-danger, a.text-danger {
    color:#5491bd;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.icon-bar {
	background-color:#fff;
}

.navbar-trans {
	background-color:#0097A7;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#FFFFFF;
    
}

.navbar-trans li>a:focus,.navbar-trans li.active {
	background-color:#727272;
	color:#333;
}

.navbar-trans li>a:hover {
	background-color:#727272;
	color:#fff;
	opacity:0.7;
}

.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 1.75em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
	padding-top:150px;  
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        display:table;
        height:90%;
        width:100%;
        vertical-align:middle;
    }
}
  
#section1, #section3 {
	background-color: rgba(0,0,0,0.3);
	color:#fff;
}
  
#section4 {
	background-color: #f6f6f6;
	color:#444;
}
  
#section2 {
	background-color: #fff;
}

#section2 img {
    opacity: 0.5;
}

#section2 h1 {
    color: #4CAF50;
}

#section3 {
	background-color: rgba(255,255,255,0.7);
	color:#444;
}

#section4 h2{
    color: #4CAF50;
}

#section5 {
	background-color: #fff;
}

#section6 {
    background-color: #eee;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

#section7 {
	background-color: #0097A7;
	color: #f6f6f6;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

footer {
	background-color:#B2EBF2;
    color:#212121;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #727272;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}

#txtright{
    text-align:right;
}

#imgAcerca{
    height:222px;
    width:444px;
    border-color:white;
}

#imgMas{
    height:100px;
    width:100px;
    border-style: solid;
    border-radius: 50%;
}


/* Aquí empieza el css de sideFerm */

#sidebar-wrapper{
    z-index: 1;
    position : fixed;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
    opacity: .9;
    top: 50px;
}

#page-content-wrapper{
    width: 100%;
    position: absolute;
}

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}

.sidebar-nav{
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: #727272;
}

/*----------------------------------------------*/
.usuario {
    color: rgba(76, 175, 80, 0.5);
    padding-bottom: 5%; 
   
}