
<div ng-controller="mainPageController">
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#section1">Leets Meet!</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapsible">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="horario.html">Calendario</a></li>
					<li><a href="#/main">Usuario</a></li>
					<li>&nbsp;</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					
		<!-- SEARCH BOX -->
		
			<li class = "bajarSearch">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		
            		<input type="text" ng-model="buscar" class="form-control" name="search" id="search" placeholder="Buscar">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
			</li>
					<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<!-- BUSQUEDA DE PERSONAS -->
		
		<span ng-if="buscar">
				<div class="fondo">
      				<p ng-repeat="buscarUsr in usuarios | filter:buscar">
        			{{ buscarUsr }}
      				</p>
      			</div>
    		</span>
		
	<section class="container masterContainer">
		
		
		
	  <div class="user v-center bounceInDown animated .col-xs-12 .col-sm-6 .col-lg-8">
				  
			<div class="row ">
	  		
		<div class="col-md-10 col-md-offset-1 fondo">
			  <h2 id="name"><i class="fa fa-user fa-lg"></i> {{user.fullName}}</h2>
			  <div class="row">
				
				
				<div class="col-xs-12 col-sm-4 text-center">
				  <img ng-src="{{user.photo}}" alt="" class="center-block img-circle img-thumbnail img-responsive">
				</div>
				<!--/col--> 
			
				
				<div class="acerca col-xs-12 col-sm-4 info">
				  <p><span class="fa fa-pencil"></span><strong> Acerca: </strong><br> ITESM </p>
				  <p><span class="fa fa-envelope"></span><strong> Correo: </strong><br> a01271588@itesm.mx </p>
				  <p><span class="fa fa-phone"></span><strong> Contacto: </strong><br> 7711815089 </p>
				  <p><span class="fa fa-tags"></span><strong> Habilidades: </strong><br>
					<span class="label label-info tags"> html5</span> 
				  </p>
				</div>
				<!--/col-->          
			<!--	<div class="clearfix"></div>   -->
				<div class="col-xs-12 col-sm-4">
				  <a href="horario.html" type="button" class="btn btn-block btn-green"><span class="fa fa-calendar"></span> Calendario</a>
				  <br>
				</div> 
				<!--/col-->
				<div class="col-xs-12 col-sm-4">
				  <a href="tareas_perfil.html" type="button" class="btn btn-block btn-green"><span class="fa fa-pencil"></span> Tareas</a>
				  <br>
				</div>
				<div class="col-xs-12 col-sm-4">
				  <a href="pages/groups/groupsList.html" type="button" class="btn btn-block btn-green"><span class="fa fa-users"></span> Grupos</a>
				  <br>
				</div>
				<div class="col-xs-12 col-sm-4">
				  <a href="amigos.html" type="button" class="btn btn-block btn-green"><span class="fa fa-user"></span> Amigos</a>
				  <br>
				</div>
				<!--/col-->
			  </div>
			  <!--/row-->
			  
		</div>
		<!--/col--> 
	  </div>
	  <!--/row--> 
		</div>
	  
	</section>
	<!--/container-->
	
</div>