<div ng-controller="calendarController" class="bajarSection">
		<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#section1">Leets Meet!</a>
				</div>
				<div class="navbar-collapse collapse" id="navbar-collapsible">
					<ul class="nav navbar-nav navbar-left">
						<li><a ng-href="#/calendar">Calendario</a></li>
						<li><a ng-href="#/main">Usuario</a></li>
						<li>&nbsp;</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						
						<!-- SEARCH BOX -->
					
						<li class = "bajarSearch">
			            <form action="" class="">
			                <div class="form-group has-feedback">
			            		
			            		<input type="text" ng-model="buscar" class="form-control" name="search" id="search" placeholder="Search">
			              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
			            	</div>
			            </form>
						</li>
						<li><a ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<!-- BUSQUEDA DE PERSONAS -->
		<ng-click>	
			<span ng-if="buscar">
					<div class="fondo">
	      				<p ng-repeat="buscarUsr in usuarios | filter:buscar">
	      					<br>
	      					<br>
	        			<a style = "color: black" href="{{ buscarUsr }}"> {{ buscarUsr.fullName }} </a>
	      				</p>
	      			</div>
	    		</span>
		</>
		<section class="container-fluid calendarFondo">
			<div class="col-xs-5">
				<table class="table">
					<thead>
						<tr>
							<td>
								<button class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#accordion" class="clickable" >Add</button>
							</td>
						</tr>
							
					</thead>
					<tr>
					    <td colspan="3">
							<div id="accordion" class="collapse">
						<table>
							<td>
								<input ng-model="title" placeholder="Event title">
							</td>
							<td>
								<span class="fa fa-calendar fa-2x"></span>
							</td>
							<td>
								<span class="fa fa-calendar fa-2x"></span>
							</td>
							<td>
								<color-picker color="color" options="options" on-color-changed="colorChanged(newColor, oldColor)"></color-picker>
							</td>
							<td>
								<button class="btn btn-success" data-toggle="collapse" data-target="#accordion" ng-click="addEvent()" >Aceptar</button>
							</td>
						</table>
								
							</div>
						</td>
					</tr>
					
					
					<tbody ng-repeat="e in events" class="ng-scope">
						<tr>
							<td>
								<input ng-model="e.title">
								<i class="fa fa-calendar fa-2x"></i>
								{{e.start | date:"MMM dd"}} - 
								<i class="fa fa-calendar fa-2x"></i>
								{{e.end | date:"MMM dd"}}
							</td>
							<td>
								<button class="btn btn-danger" ng-click="remove($index)">Delete</button>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<div class="col-xs-7">
				<button class="btnCalendar btn btn-default" type="button" ng-click="changeView('month', 'myCalendar1')">Month</button>
				<button class="btnCalendar btn btn-default" type="button" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
				<button class="btnCalendar btn btn-default" type="button" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
				<div class = "calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar1"></div>
			</div>
		</section>
		
</div>
